<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .c1 {
            color : #5b3be5;
        }

        .c2 {
            color : #F00;
        }
        .c3 {
            color : rgb(50%, 50%, 50%)
        }
        .c4 {
            color : rgb(153, 51, 51)
        }
        .c5 {
            color : darkseagreen;
        }
    </style>
</head>
<body>
    <p class="c1">첫번째 p태그</p>
    <p class="c2">두번째 p태그</p>
    <p class="c3">세번째 p태그</p>
    <p class="c4">네번째 p태그</p>
    <p class="c5">다섯번째 p태그</p>
</body>
</html>