<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .c1 {
            width:50px;

        }
        .c2 {
            height:50px;
        }
        .c3 {
            height:150px;
            width:100px;
        }
        .c4 {
            opacity : 0.5;
        }
    </style>
</head>
<body>
    <img src="/img/HTML.png"/><br/>
    <img src="/img/HTML.png" class="c1"/><br/>
    <img src="/img/HTML.png" class="c2"/><br/>
    <img src="/img/HTML.png" class="c3"/><br/>
    <img src="/img/HTML.png" class="c4"/><br/>
</body>
</html>