<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /*
        * {
            color : red;
            background-color: yellow;
        }
         */

        body {
            color : red;
            background-color: yellow;
        }

        p {
            font-weight: bold;
        }

        #a2 {
            font-style : italic;
        }

        .c1 {
            font-size: 50px;
        }

    </style>
</head>
<body>
    <p id="a1">첫번쨰 p 태그</p>
    <p id="a2" class="c1">두번째 p 태그</p>
    <div>div 태그</div>
</body>
</html>