<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .c1 {
            border-collapse: separate;
            border-collapse: collapse;
            caption-side: bottom;
        }
        .c2 {
            border-collapse: separate;
            border-spacing: 10px;
        }
    </style>
</head>
<body>

    <table border="1" class="c1">
        <caption>테이블의 제목</caption>
        <tr>
            <td>항목1-1</td>
            <td>항목1-2</td>
            <td>항목1-3</td>
        </tr>
        <tr>
            <td>항목2-1</td>
            <td>항목2-2</td>
            <td>항목2-3</td>
        </tr>
        <tr>
            <td>항목3-1</td>
            <td>항목3-2</td>
            <td>항목3-3</td>
        </tr>
    </table>

    <hr/>

    <table border="1" class="c2">
        <caption>테이블의 제목</caption>
        <tr>
            <td>항목1-1</td>
            <td>항목1-2</td>
            <td>항목1-3</td>
        </tr>
        <tr>
            <td>항목2-1</td>
            <td>항목2-2</td>
            <td>항목2-3</td>
        </tr>
        <tr>
            <td>항목3-1</td>
            <td>항목3-2</td>
            <td>항목3-3</td>
        </tr>
    </table>

</body>
</html>